.img{
    color:brown ;
    border: 15cm;
    border-radius: 2%;
    border-color: black;
    border-right: 100%;
    border-left: 100%;
    border-color: aqua;

    }
.intro {
    color:cadetblue;
    background-color: transparent;
}
.body {
    color:green;
    display: grid;
  
}
.main{
   color:pink;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #266d98;
}
::-webkit-scrollbar-thumb{
    background: #5ac2ff;
}
::-webkit-scrollbar-thumb:hover{
    background: #98D8Ec;
}


